.idea/
temp/
tempG/
XmsAdapterTest/
docJson/
xms-adapter-G/
xms-adapter/
target/
*.iml
*.log
stats/
.git_template
*.sh
/xh/
/xg/
/xh-firebase/
/xg-firebase/
/xapi/
/xms-adapter-firebase-G/
/xms-adapter-firebase/
/xmsh/
/xms-adapter-H/
/xms-adapter-firebase-H/
.gradle/
build
gradlew.bat
src/test/log/*.log