*.iml
*.log
.git_template
.gradle/
.idea/
temp/
sootOutput/
target/
src/main/generated
validator/validatorResult
validator/whileList
src/test/log/*.log
src/test/output/AnalyzerTest/BinaryDefectFiles.json
src/test/output/AnalyzerTest/BinaryDefectInstances.json
validator/log/BinaryDefectFiles.json
validator/log/BinaryDefectInstances.json
tempG/
xms-adapter-G/
xms-adapter/
stats/
*.sh
/xh/
/xg/
/xapi/
/xms-adapter-firebase-G/
/xms-adapter-firebase/
